@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* colors */
  --dark-blue: #1b344b;
  --blue: #2075c3;
  --light-blue: #c2dbf1;
  --gradient: linear-gradient(to right, #14314d, #c2dbf1, #14314d);

  /* sizes */
  --sm: 0.8rem;
  --md: 1.6rem;
  --lg: 2.4rem;
  --xlg: 4.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Space Mono", monospace;
  font-size: var(--md);
  color: var(--light-blue);
  background: url("./images/thething-location-1.webp") no-repeat;
  background-size: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline;
  color: inherit;
  font-style: italic;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: var(--xlg);
  font-weight: 700;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.container {
  max-width: 64rem;
  align-items: center;
  gap: var(--xlg);
  padding-top: 6.4rem;
}

.message-container {
  min-width: 100%;
  background-color: white;
  gap: var(--sm);
  padding: var(--md);
  border-radius: var(--sm);
  color: var(--dark-blue);

  .asteric {
    line-height: 4rem;
    color: #2075c3;
    transform: translateY(-0.8rem);
  }
}

.result {
  min-width: 100%;
  justify-content: space-between;
  align-items: center;

  .opponent {
    align-items: center;
    gap: var(--sm);
    .opponent-image {
      border-radius: var(--sm);
      img {
        border-radius: var(--sm);
      }
    }
    .opponent-name {
      font-weight: 700;
    }
  }
}

.score {
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
  min-width: 29.6rem;
  .divider {
    width: var(--sm);
    height: 8rem;
    background-color: white;
  }
}

.opponent-image,
.character img {
  width: 10rem;
  height: 10rem;
}

.options {
  background: var(--gradient);
  padding: var(--lg);
  border-radius: var(--md);
  box-shadow: inset 4px -4px rgba(0, 0, 0, 25%),
    inset -4px 0px rgba(0, 0, 0, 25%);
}

.characters {
  column-gap: var(--lg);
  .character {
    background: var(--gradient);
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;
    transition: 0.15s;
    img {
      border-radius: 30rem;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(20, 49, 77, 0.8);
  z-index: -1;
}
