@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* colors */
  --dark-blue: #1b344b;
  --blue: #2075c3;
  --light-blue: #c2dbf1;
  --gradient: linear-gradient(to right, #14314d, #c2dbf1, #14314d);

  /* sizes */
  --sm: 0.8rem;
  --md: 1.6rem;
  --lg: 2.4rem;
  --xlg: 4.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Space Mono", monospace;
  font-size: var(--md);
  color: var(--light-blue);
  background: url("./images/thething-location-1.webp") no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline;
  color: inherit;
  font-style: italic;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: var(--xlg);
  font-weight: 700;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.container {
  position: relative;
  max-width: 64rem;
  align-items: center;
  gap: var(--xlg);
  padding-top: 6.4rem;
}

.message-container {
  position: relative;
  min-width: 100%;
  background-color: white;
  gap: var(--sm);
  padding: var(--md);
  border-radius: var(--sm);
  color: var(--dark-blue);

  .symbol {
    width: var(--xlg);
    height: var(--lg);
    padding-top: var(--sm);
  }

  .asteric {
    color: #2075c3;
    cursor: grabbing;
    line-height: 0;
    &:hover {
      animation: rotateInfinite 1s infinite linear;
    }
  }
}

.close-message {
  position: absolute;
  bottom: var(--sm);
  right: var(--sm);
  width: var(--lg);
  height: var(--lg);
  justify-content: center;
  align-items: center;
  border-radius: var(--sm);
  color: #919191;
  background: #d8d8d8;
  border: 1px solid #b9b3b3;
}

.result {
  min-width: 100%;
  justify-content: space-between;
  align-items: center;

  .opponent {
    align-items: center;
    gap: var(--sm);
    .opponent-image {
      border-radius: var(--sm);
      img {
        border-radius: var(--sm);
        min-height: 100%;
        object-fit: cover;
      }
    }
    .choice {
      font-weight: 700;
    }
  }
}

.score {
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
  min-width: 29.6rem;
  .divider {
    width: var(--sm);
    height: 8rem;
    background-color: white;
  }
}

.opponent-image,
.character {
  width: 10rem;
  height: 10rem;
}

.options {
  background: var(--gradient);
  padding: var(--lg);
  border-radius: var(--md);
  box-shadow: inset 4px -4px rgba(0, 0, 0, 25%),
    inset -4px 0px rgba(0, 0, 0, 25%);
}

.characters {
  column-gap: var(--lg);
  .character {
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;
    transition: 0.15s;

    &:hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 25%),
        -4px -4px 10px rgba(0, 0, 0, 25%);
      transform: scale(1.05);
    }
    img {
      width: 9.4rem;
      height: 9.4rem;
      border-radius: 30rem;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 49, 77, 0.8);
  z-index: -1;
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green {
  background: rgb(17, 116, 39) !important;
}

.red {
  background: rgb(116, 17, 17) !important;
}

.gameover {
  position: absolute;
  top: 30%;
  background: var(--dark-blue);
  color: white;
  padding: 4.8rem;
  gap: 2.4rem;
  text-align: center;
  box-shadow: 0 4px 20px rgba(172, 172, 172, 0.25);
  border-radius: var(--sm);
  button {
    font: inherit;
    font-weight: bold;
    padding: 0.8rem 2.4rem;
    background: var(--blue);
    color: white;
    border-radius: var(--sm);
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
  display: none;
}

.visible {
  display: flex;
}
